<div *ngFor="let rowSquares of this.sudoku.values; let indexRowSquares = index" class="d-flex justify-content-between">
  <div *ngFor="let columnSquares of rowSquares; let indexColumnsSquares = index">
    <div *ngFor="let rowSquare of this.columnSquares.values; let indexRowSquare = index" class="d-flex justify-content-between">
      <div *ngFor="let columnSquare of rowSquare; let indexColumnSquare = index">
        <input type="number" [(ngModel)]="this.squares[indexRowSquares][indexColumnsSquares].values[indexRowSquare][indexColumnSquare]">
      </div>
    </div>
  </div>
</div>
<button (click)="validate()">
  VALIDATE
</button>

<label *ngIf="isValid">
  Complimenti
</label>
